@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}
@layer base {
  body {
    @apply  bg-green font-inter h-full w-full;
  }
  
}

@layer components {
  .fullContainer {
    @apply min-h-screen h-full bg-BgColorLight dark:bg-BgColorDark;
  }
  .searchBar,
  .rs-input {
    @apply flex items-center w-full h-8 rounded-full bg-white overflow-hidden border border-cardBorder text-mainTextLight;
  }
  .filterBadgeItem {
    @apply inline-flex items-center justify-between w-full rounded-full px-5 text-sm font-medium text-lightTextLight dark:text-lightTextDark;
  }
  .filterBadgeItemSelected {
    @apply inline-flex items-center justify-between h-9 w-full rounded-full bg-SelectedButton px-5 text-sm font-medium text-mainTextLight dark:text-mainTextDark dark:bg-SelectedButtonDark;
  }
  .filterAccordionList {
    @apply flex flex-col gap-2 my-1 max-h-28 overflow-y-auto overflow-x-hidden;
  }
  .verticalHr {
    @apply border-l border-solid border-slate-400 mx-3;
  }
  .gridSystem {
    @apply grid grid-cols-12 gap-6 h-screen;
  }
  .DashboardLayout {
    @apply grid grid-cols-12 gap-4 px-20 3xl:px-96 py-6 layoutMinMax:flex layoutMinMax:flex-col layoutMinMax:px-6 layoutMinMax:gap-2 layoutMinMax:py-4;
  }
  .pageLayout {
    @apply min-h-[90vh] flex px-20 3xl:px-96 py-6 gap-4 w-full layoutMinMax:py-4 layoutMinMax:gap-2 layoutMinMax:grid-cols-3;
  }
  .observabilityLayout {
    @apply h-full w-full grid grid-cols-10 gap-4 px-20 3xl:px-96 py-6 layoutMinMax:py-4 layoutMinMax:gap-2 layoutMinMax:grid-cols-3;
  }
  .tabLayout {
    @apply flex gap-4 layoutMinMax:py-4 layoutMinMax:gap-2;
  }
  .card {
    @apply p-6 flex flex-col justify-start 2xl:text-lg text-mainTextLight gap-3 border border-solid border-cardBorder rounded-3xl bg-cardBgLight dark:text-mainTextDark dark:bg-cardBgDark 2xl:justify-start 2xl:py-10 2xl:px-20 xl:px-10 xl:py-5 xl:text-lg md:text-base;
  }
  .cardBis {
    @apply p-6 flex flex-col justify-start 2xl:text-lg text-mainTextLight gap-3 border border-solid border-cardBorder rounded-3xl bg-cardBgLight dark:text-mainTextDark dark:bg-cardBgDark 2xl:justify-start 2xl:py-6 ;
  }
  .filterCard {
    @apply overflow-auto px-6 py-4 flex flex-col justify-start 2xl:text-lg text-mainTextLight gap-3 border border-solid border-cardBorder rounded-3xl bg-cardBgLight dark:text-mainTextDark dark:bg-cardBgDark 2xl:justify-start 2xl:p-4;
  }
  .ObsNav {
    @apply px-6 flex justify-between items-center gap-3 border border-solid border-cardBorder rounded-2xl bg-cardBgLight dark:bg-cardBgDark;
  }
  .cardTitle {
    @apply text-lg 2xl:text-3xl font-medium text-mainTextLight dark:text-mainTextDark;
  }
  .navBar {
    @apply border-information100  px-20 3xl:px-96 col-span-12 bg-white h-16 pt-3 pb-3 flex items-center justify-between border-b dark:bg-BgNavBarDark relative left-1/2 z-40 text-mainTextLight dark:text-mainTextDark;
  }
  .logo {
    @apply fill-LogoColor dark:fill-white;
  }
  .LeftNavBarPart {
    @apply flex items-center;
  }
  .menuButtons {
    @apply ml-10 flex gap-2;
  }
  .MenuButton {
    @apply flex items-center text-sm 2xl:text-base font-medium px-4 py-2 text-MainText dark:text-TextNavBarDar hover:bg-SelectedButton focus:bg-SelectedButton rounded dark:focus:bg-SelectedButtonDark dark:hover:bg-SelectedButtonDark;
  }
  .RightNavBarPart {
    @apply flex items-center text-sm 2xl:text-base font-medium;
  }
  .RightNavElement {
    @apply w-8 h-8 2xl:w-10 2xl:h-10 cursor-pointer  mr-2 border rounded-full flex justify-center items-center;
  }
  .CtaPrimaryBtn {
    @apply flex justify-center items-center gap-2 rounded-full bg-PrimaryBtnBg text-PrimaryBtnText py-1 px-5 w-fit h-8 min-w-100 text-xs 2xl:text-sm;
  }
  .AzureBtn {
    @apply flex justify-center items-center gap-2 rounded-full bg-SelectedButton text-logoAzure py-2 px-5 w-fit h-8 min-w-100 text-xs border border-solid border-logoAzure;
  }
  .CtaOutlineBtn {
    @apply flex justify-center items-center gap-2 rounded-full bg-PrimaryBtnText text-mainTextLight border border-solid border-OutlinedBtn py-2 px-5 w-fit h-8 min-w-100 text-xs 2xl:text-sm;
  }
  .CtaSecondaryBtn {
    @apply flex justify-center items-center gap-2 rounded-full bg-SecondaryBtnBg text-secondTextDark py-2 px-5 w-fit h-10 min-w-100 dark:text-secondTextDark text-xs 2xl:text-sm;
  }
  .SmallBtn {
    @apply flex justify-center items-center rounded-full bg-transparent text-OutlinedBtn  w-fit h-8 text-xs uppercase;
  }
  .Loginpage {
    @apply bg-nano-pattern bg-cover min-h-screen flex justify-center items-center text-mainTextLight dark:text-mainTextDark;
  }
  .LoginBox {
    @apply bg-BgColorLight flex flex-col justify-center py-2 px-4 w-3/6 shadow-lg border-4 border-solid border-BgColorDark text-sm max-w-3xl text-mainTextLight dark:text-mainTextDark;
  }
  .ApiStatesTag {
    @apply rounded-full py-1 px-5 border border-solid my-4;
  }
  .ApiStatesTagContent {
    @apply flex items-center gap-2 text-xs;
  }
  .iconThemeSwitching {
    @apply dark:fill-white;
  }
  .circle {
    @apply fill-red stroke-red;
  }
  .checkboxLabel {
    @apply font-medium flex justify-between text-mainTextLight dark:text-mainTextDark;
  }
  .MenuItemsHeader {
    @apply absolute rounded-xl  bg-white dark:bg-BgNavBarDark flex-col justify-start z-10 origin-top-right divide-y text-MainText dark:text-TextNavBarDar ring-1 ring-smallCardBorder focus:outline-none;
  }
  .MenuItemsButton {
    @apply block text-sm py-2 text-MainText  dark:text-TextNavBarDar hover:bg-SelectedButton focus:bg-SelectedButton  dark:focus:bg-SelectedButtonDark dark:hover:bg-SelectedButtonDark;
  }
  .MenuItemsHeadersDivider {
    @apply border-2 border-solid w-[80%] border-t-0 border-divider dark:border-divider mx-auto;
  }
  .UserNavElement {
    @apply flex justify-between items-center mr-0 border rounded-full cursor-pointer;
  }
  .LogOUTIcon {
    @apply fill-red dark:fill-red;
  }
  .logOutSection {
    @apply absolute w-full border-[0.1em] rounded-xl px-2 top-12 left-0 flex flex-col items-center cursor-pointer bg-white dark:bg-BgColorDark;
  }
  .notificationSection {
    @apply absolute w-[430px] -right-[215px] top-12 border-2 rounded-2xl py-3 bg-white dark:bg-BgColorDark px-4 z-50;
  }
  .CloseIcon {
    @apply cursor-pointer;
  }
  .systemSection {
    @apply absolute -left-36 top-12 border-2 rounded-2xl w-72 py-3 p-4 cursor-pointer bg-white dark:bg-BgColorDark;
  }
  .settingSections {
    @apply py-1 border-b-2 border-divider;
  }
  .InfoIcon {
    @apply fill-none dark:fill-white;
  }
  .profileContainer {
    @apply grid grid-cols-3 gap-4 mt-8 layoutMinMax:grid-cols-1 2xl:grid-cols-4 3xl:grid-cols-5 4xl:grid-cols-6;
  }
  .DoneIcon,
  .DeleteIcon,
  .DeleteIconForUsers,
  .EyeLightIcon {
    @apply fill-none;
  }
  .sankeyforce {
    @apply hidden;
  }
  .inspecteur  {
    @apply hidden absolute right-0 flex-col max-h-[68vh] py-4 px-4 overflow-auto text-mainTextLight dark:text-mainTextDark gap-3 border border-solid border-cardBorder rounded-3xl bg-cardBgLight dark:bg-cardBgDark 2xl:justify-start;
  }
  .inpecteurTitle {
    @apply flex sticky top-0 m-0 z-0 rounded-xl justify-between bg-cardBgLight dark:bg-cardBgDark;
  }
  .inpecteurTitleTarget {
    @apply flex sticky top-0 mt-2 z-0 rounded-xl justify-between border-2 border-cardBorder;
  }
  .loader {
    @apply w-full z-10 m-auto text-mainTextLight dark:text-mainTextDark;
  }
  .table-row .rs-table-cell {
    @apply text-mainTextLight dark:text-mainTextDark border border-solid border-cardBorder  bg-SelectedButton  dark:bg-SelectedButtonDark;
  }
  .table-row .rs-table-row,
  .rs-table-hover .rs-table-row:hover .rs-table-cell-group,
  .rs-table-hover .rs-table-row:hover .rs-table-cell,
  .rs-table-hover .rs-table-row:hover .rs-table-cell-group,
  .rs-table-row-expanded,
  .rs-table-row-header,
  .rs-table-hover .rs-table-row:not(.rs-table-row-header):hover {
    @apply bg-SelectedButton dark:bg-SelectedButtonDark;
  }

  .leaflet-container {
    @apply h-full w-full border;
  }
  .tooltipTheme .rs-tooltip.placement-left-start,
  .rs-tooltip.placement-right-start {
    @apply py-4  max-w-full;
  }
  .noAlertsClass {
    @apply rounded-[270px] w-64 h-64 m-12 flex flex-col items-center pt-5;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(53, 140, 232, 0.13) 0%,
      rgba(53, 140, 232, 0) 100%
    );
  }
  .leafletIconNav {
    @apply h-24 w-24 bg-red;
  }
  .fgraphElem, .force-graph-container {
    @apply h-full w-full;
  }

  .formInput {
    @apply text-xs 2xl:text-lg bg-SecondaryBtnBg border border-solid border-information100 dark:bg-BgColorDark dark:text-lightTextDark text-lightTextLight rounded-xl;
  }
  .formInputAssets {
    @apply text-xs 2xl:text-lg  border border-solid border-gray-400 dark:bg-BgColorDark dark:text-lightTextDark text-lightTextLight rounded-xl;
  }
  .datePicker  .rs-picker-toggle-placeholder   {
    @apply text-sm  2xl:text-xs font-medium z-50 text-MainText dark:text-mainTextDark ;
  }

  .rs-tooltip-light {
    --rs-tooltip-text: #354656 !important;
    --rs-tooltip-bg: #e2e7f6 !important;
  }
  .rs-tooltip-dark {
    --rs-tooltip-text: #e2e7f6 !important;
    --rs-tooltip-bg: #354656 !important;
  }
  .rs-theme-light {
    --rs-tooltip-text: #354656 !important;
    --rs-tooltip-bg: #e2e7f6 !important;
    --rs-picker-value: #000000;
    --rs-text-secondary: #000000;
  }
  .rs-theme-dark {
    --rs-tooltip-text: #e2e7f6 !important;
    --rs-tooltip-bg: #354656 !important;
    --rs-text-secondary: #ffffff;
    --rs-picker-value: #ffffff;
  }
 
  ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
  }
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }

  .leaflet-div-icon {
    background: transparent;
    border: none;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .custom-opacity-transition {
    animation: fadeIn ease-in 600ms;
  }
  .custom-opacity-transition.fade-out {
    animation: fadeOut ease-out 200ms;
  }
}


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}




